{% macro message(ts, title, content) %}
    {% if ts %}
        <small class="text-light nfp_ts" data-ts="{{ ts }}"
               title="{{ ts|date(localizations.date_format_dmyhis) }}">{{ ts|date(localizations.date_format_dmyhis) }}</small>
    {% endif %}
    {% if title %}
        <br>
        {% if title %}<strong>{{ title }}</strong>{% endif %}
    {% endif %}

    {% if content %}<p>{{ content }}</p>{% endif %}
{% endmacro %}