{% extends 'main.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>{{ settings.boards_title }}</h1>
            </div>
        </div>
    </div>

    <div>
        {% for board in boards %}
            <h2>#{{ board.board.id }}: {{ board.board.title }}</h2>
            <em>{{ board.board.status }}</em>
            <hr>

            {% for post in board.posts %}
                <div>
                    {{ post.title }}<br>
                    {{ post.message }}<br>
                    {{ post.status }}<br>
                    {{ post.ts|date("d.m.Y H:i:s") }}<br>
                    {{ post.user_login }}<br>
                    {{ post.user_status }}<br>
                    {{ post.user_info }}<br>
                    {{ post.user_id }}
                </div>
                <br>
            {% endfor %}

            <br>
            Total: {{ board.count }}

        {% endfor %}
    </div>
{% endblock %}
