{% extends 'main.html.twig' %}

{% block body %}
    <div class="alert alert-warning" role="alert">
        {{ settings.title_home_general }}
    </div>

    {% if news_owner %}
        <div class="alert alert-info" role="alert">
            <strong>{{ settings.title_home_newsbox }}</strong>
            <ul>
                {% for news in news_owner %}
                    {% if news.title or news.content %}
                        <li>{{ news.ts|date("d.m.Y H:i:s") }}: {% if news.title %}
                                <strong>{{ news.title }}</strong>{% endif %} {% if news.content %}{{ news.content }}{% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if infos %}
        <div class="alert alert-success" role="alert">
            <strong>{{ settings.title_home_infos }}</strong>
            <ul>
                {% for info in infos %}
                    {% if info.text|trim %}
                        <li>{{ info.text }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}