{% extends 'main.html.twig' %}
{% import 'macros/macros.posts.html.twig' as macroPosts %}

{% block title %}{{ sys.system.name }}{% endblock %}

{% block body %}
    {% if settings.home_general_show %}
        <div class="alert alert-warning" role="alert">
            {{ localizations.home_general_title|nl2br }}
        </div>
    {% endif %}

    {% if emergency_infos and settings.home_emergency_infos_show %}
        <div class="card text-white bg-danger mb-4">
            <div class="card-header">{{ localizations.home_emergency_infos_title }}</div>
            <div class="card-body">
                {% set i = 0 %}
                {% for info in emergency_infos %}
                    {% if i == 0 %}
                        <div class="row">
                    {% endif %}
                    <div class="col-md-6 mb-3">
                        <strong class="nfp_title">{{ info.title }}</strong>
                        <br>
                        {{ info.value|nl2br }}
                    </div>
                    {% if i == 0 %}

                        {% set i = 1 %}
                    {% else %}
                        </div>
                        {% set i = 0 %}
                    {% endif %}
                {% endfor %}
                {% if i == 1 %}</div>{% endif %}
        </div>
        </div>
    {% endif %}

    {% if news_owner %}
        {% if settings.home_newsbox_show %}
            <div class="accordion" id="accordionNews">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneA">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOneA" aria-expanded="true" aria-controls="collapseOne">
                            {{ localizations.home_newsbox_title }}
                        </button>
                    </h2>
                    <div id="collapseOneA" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <ul class="nfpList">
                                {% for news in news_owner %}
                                    {% if news.title or news.content %}
                                        <li>
                                            {{ macroPosts.message(news.ts, news.title, news.content) }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            {% if more_news_available %}
                                <a class="btn btn-primary btn-sm" href="/news" role="button">
                                    {{ localizations.text_show_all }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if infos and settings.home_infos_show %}
        <div class="accordion mt-3 nfp_accordionGreen" id="accordionInfos">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOneB">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOneB" aria-expanded="true" aria-controls="collapseOneB">
                        {{ localizations.home_infos_title }}
                    </button>
                </h2>
                <div id="collapseOneB" class="accordion-collapse collapse show" aria-labelledby="headingOneB"
                     data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body">
                        <ul class="nfp_list_noleftpad nfp_list_nomessagepadding">
                            {% for info in infos %}
                                {% if info.text|trim %}
                                    <li>
                                        {{ macroPosts.message(null, null, info.text) }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if isCaptivePortalUrl %}
        <p>IS_CAPTIVE_PORTAL_</p>
    {% endif %}

{% endblock %}