<!DOCTYPE html>
<html lang="{{ sys.system.locale.lang }}" class="h-100">
<head>
    {% set themeFile = null %}
    {% if settings.theme %}
        {% set themeFile = '/css/bs-themes/bs-' ~ settings.theme ~ '.min.css' %}
    {% else %}
        {% set themeFile = '/css/bootstrap.min.css' %}
    {% endif %}
    {% if settings.ext_minify_css %}
        {{ minifyCss([themeFile, "/css/font-awesome.min.css", "/css/notfallpunkt.css"])|raw }}
    {% else %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/notfallpunkt.css">
    {% endif %}

    {# Favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="/site/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/site/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/site/favicon-16x16.png">
    <link rel="manifest" href="/site/site.webmanifest">

    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <meta name="robots" content="noindex,nofollow">
    <title>{% block title %}{{ sys.system.name }}{% endblock %}</title>
    {% block header %}{% endblock %}
</head>
<body class="d-flex flex-column h-100 page-{{ pageIndicator }}{% if user %} loggedin{% else %} notloggedin{% endif %}">
<main>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">{{ sys.system.nameShort }}</a>
            <span id="testModeText" class="badge rounded-pill bg-warning">{{ localizations.nav_testmode_text }}</span>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarsExample03" style="">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link{% if pageIndicator == 'home' %} active{% endif %}"{% if pageIndicator == 'home' %} aria-current="page"{% endif %}
                           href="/">{{ localizations.nav_home }}<span
                                    class="badge rounded-pill bg-primary nfp_update_count"
                                    id="nfpUpdateCount_home">0</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if pageIndicator == 'chat' %} active{% endif %}"{% if pageIndicator == 'chat' %} aria-current="page"{% endif %}
                           href="/chat">{{ localizations.nav_chat }}<span
                                    class="badge rounded-pill bg-primary nfp_update_count"
                                    id="nfpUpdateCount_chat">0</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if pageIndicator == 'news' %} active{% endif %}"{% if pageIndicator == 'news' %} aria-current="page"{% endif %}
                           href="/news">{{ localizations.nav_news }}<span
                                    class="badge rounded-pill bg-primary nfp_update_count"
                                    id="nfpUpdateCount_news">0</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if pageIndicator == 'board' %} active{% endif %}"{% if pageIndicator == 'board' %} aria-current="page"{% endif %}
                           href="/board">{{ localizations.nav_board }}<span
                                    class="badge rounded-pill bg-primary nfp_update_count"
                                    id="nfpUpdateCount_board">0</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if pageIndicator == 'files' %} active{% endif %}"{% if pageIndicator == 'files' %} aria-current="page"{% endif %}
                           href="/files">{{ localizations.nav_files }}<span
                                    class="badge rounded-pill bg-primary nfp_update_count"
                                    id="nfpUpdateCount_files">0</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if pageIndicator == 'knowledge' %} active{% endif %}"{% if pageIndicator == 'knowledge' %} aria-current="page"{% endif %}
                           href="/knowledge">{{ localizations.nav_knowledge }}<span
                                    class="badge rounded-pill bg-primary nfp_update_count"
                                    id="nfpUpdateCount_knowledge">0</span></a>
                    </li>
                    <li class="nav-item dropdown text-light">
                        <a class="nav-link dropdown-toggle{% if pageIndicator == 'user' %} active{% endif %}{% if user %} text-primary{% endif %}"
                           href="#"
                           id="dropdown03" data-bs-toggle="dropdown"
                           aria-expanded="false">{% if user %}{{ user.login }}{% else %}{{ localizations.nav_user }}{% endif %}
                            <span class="badge rounded-pill bg-primary nfp_update_count"
                                  id="nfpUpdateCount_user">0</span></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            {% if user %}
                                <li><a class="dropdown-item" href="/messages">{{ localizations.nav_user_messages }}</a>
                                </li>{% endif %}
                            {% if user %}
                                <li><a class="dropdown-item" href="/users">{{ localizations.nav_user_list }}</a>
                                </li>{% endif %}
                            {% if not user %}
                                <li><a class="dropdown-item" href="/login">{{ localizations.nav_user_login }}</a>
                                </li>{% endif %}
                            {% if not user %}
                                <li><a class="dropdown-item" href="/signup">{{ localizations.nav_user_signup }}</a>
                                </li>{% endif %}
                            {% if user %}
                                <li><a class="dropdown-item" href="/logout">{{ localizations.nav_user_logout }}</a>
                                </li>{% endif %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://{{ sys.accessPoint.hostname }}/" tabindex="-1"><i class="fa fa-lock"></i> HTTPS</a>
                    </li>
                </ul>
                {#
                <form>
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form> #}
            </div>
        </div>
    </nav>

    <div class="container" id="mainContent">
        <div>
            <div class="p-2 rounded">
                <div class="col-sm-12 mx-auto">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

    </div>
</main>

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <div>
            <div>
                <div class="col-sm-12 mx-auto">
                    {{ localizations.location }}
                    {% if localizations.owner %}
                        <a href="/contact">{{ localizations.owner }}</a>
                    {% endif %}
                    🕑 {{ 'now'|date("d.m.Y H:i:s") }} %%CACHE_INFO%%
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    const tsGenerated = {{ 'now'|date("U") }},
        statusReloadTime = {{ settings.ext_status_reload_time }},
        connectErrorMessage = '{{ localizations.msg_connect_error|addslashes|raw }}',
        currentPage = '{{ pageIndicator }}',
        userIsOnlineText = '{{ localizations.is_online|addslashes }}';
</script>

{% if settings.ext_minify_js %}{# @ at the beginning indicates "concatenate only, do not pack" #}
    {{ minifyJs(["/js/jquery-3.7.1.min.js","@/js/jquery.blockUI.js","@/js/bootstrap.bundle.min.js","/js/moment-with-locales.js", "/js/notfallpunkt.js"])|raw }}
{% else %}
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/moment-with-locales.js"></script>
    <script type="text/javascript" src="/js/notfallpunkt.js"></script>
{% endif %}

{% block footer %}{% endblock %}

</body>
</html>