<!DOCTYPE html>
<html lang="{{ sys.system.locale.lang }}" class="h-100">
<head>
    {% if settings.ext_minify_css %}
        {{ minifyCss(["/css/bootstrap.min.css", "/css/notfallpunkt.css"])|raw }}
    {% else %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/notfallpunkt.css">
    {% endif %}

    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <meta name="robots" content="noindex,nofollow">
    <title>{% block title %}{{ sys.system.name }}{% endblock %}</title>
    {% block header %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">
<main>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">{{ sys.system.nameShort }}</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarsExample03" style="">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link{% if pageIndicator == 'home' %} active{% endif %}"{% if pageIndicator == 'home' %} aria-current="page"{% endif %}
                           href="/">{{ settings.nav_home }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if pageIndicator == 'news' %} active{% endif %}"{% if pageIndicator == 'news' %} aria-current="page"{% endif %}
                           href="/news">{{ settings.nav_news }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if pageIndicator == 'board' %} active{% endif %}"{% if pageIndicator == 'board' %} aria-current="page"{% endif %}
                           href="/board">{{ settings.nav_board }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if pageIndicator == 'files' %} active{% endif %}"{% if pageIndicator == 'files' %} aria-current="page"{% endif %}
                           href="/files">{{ settings.nav_files }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if pageIndicator == 'knowledge' %} active{% endif %}"{% if pageIndicator == 'knowledge' %} aria-current="page"{% endif %}
                           href="/knowledge">{{ settings.nav_knowledge }}</a>
                    </li>
                    <li class="nav-item dropdown text-light">
                        <a class="nav-link dropdown-toggle{% if pageIndicator == 'news' %} active{% endif %}" href="#"
                           id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">{{ settings.nav_user }}</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" href="/login">{{ settings.nav_user_login }}</a></li>
                            <li><a class="dropdown-item" href="/signup">{{ settings.nav_user_signup }}</a></li>
                            <li><a class="dropdown-item" href="/logout">{{ settings.nav_user_logout }}</a></li>
                        </ul>
                    </li>
                    {#
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                    #}
                </ul>
                {#
                <form>
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form> #}
            </div>
        </div>
    </nav>

    <div class="container">
        <div>
            <div class="p-2 rounded">
                <div class="col-sm-12 mx-auto">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

    </div>
</main>

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <span class="text-light-emphasis">
            Standort: {{ settings.location }}
            {% if settings.owner %}
                -
                <strong>Verantwortlich: </strong>
                {{ settings.owner }}
            {% endif %}
            🕑 {{ 'now'|date("d.m.Y H:i:s") }} %%CACHE_INFO%%
        </span>
    </div>
</footer>

<script type="text/javascript">
    const tsGenerated = {{ 'now'|date("U") }},
        statusReloadTime = {{ settings.ext_status_reload_time }},
        connectErrorMessage = '{{ settings.msg_connect_error|addslashes|raw }}';
</script>

{% if settings.ext_minify_css %}
    {{ minifyJs(["/js/jquery-3.7.1.min.js","/js/jquery.blockUI.js","/js/bootstrap.bundle.min.js","/js/notfallpunkt.js"])|raw }}
{% else %}
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/notfallpunkt.js"></script>
{% endif %}

{% block footer %}{% endblock %}

</body>
</html>